<p>
    <h4>About</h4>
    <div>

        <table  border="1"> 
            
              <tr>  
                  <td>Name</td><td>{{name}}</td> 
              </tr>
              <tr>  
                  <td>Author</td><td><a href='https://www.linkedin.com/in/shiveshnavin/'>Shivesh Navin</a></td> 
              </tr>
              <tr>  
                  <td>Version</td><td>{{version}}</td> 
              </tr>
              <tr>  
                  <td>Repository</td><td><a href='{{repository.url}}'>GITHUB</a></td> 
              </tr>
          

        </table>


    </div>
</p>