<div id="envelope">
<form action="" method="post">
<header>
<h2>Example of Responsive Form</h2>
<p>This is my form. Fill it out. It's Awesome.</p>
</header>

<label>Your Name</label> 
<input name="name" placeholder="Ashley Peterson" type="text" width="100px;">
<label>Email Id</label>
<input name="email" placeholder="yourname@gmail.com" type="text">
<label>Contact Number</label>
<input name="contact" placeholder="123456789" type="text">
<label>Website URL</label>
<input name="website" placeholder="www.yoursite.com" type="text">
<label>Message</label>
<textarea cols="15" name="message" placeholder="Message" rows="10">
</textarea>
<input id="submit" type="submit" value="Send Message">
</form>
</div>